.myroom{
    border: 1px solid var(--color-buy);
}
/*.my_room_id{*/
/*    background-color: var(--color-buy);*/
/*    color: var(--color-golden-dark);*/
/*}*/

.list_room{
    position: relative;
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    background-color: #000;
    border-radius: 12px;
    left: 13px;
    width: calc(100% - 26px);
}
.myroom:before{content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-left: 38px solid var(--color-buy);
    border-radius: 11px;
    z-index: 1;
}
.room_id{
    width: 38px;
    height: 38px;
    font-weight: bolder;
    padding-top: 11px;
    padding-left: 7px;
    top-left-radius: 12px;
    z-index: 3;
    position: absolute;
}
.room_name{
    height: 38px;
    font-style: italic;
    padding-top: 11px;
    padding-left: 8px;
    white-space: nowrap;
    width: calc(100% - 201px);
    color: var(--color-golden);
    position: absolute;
    left: 38px;
    overflow:hidden;
    z-index: 3;
}

.room_dice{
    height: 38px;
    font-weight: bolder;
    padding: 8px;
    width: 83px;
    white-space: nowrap;
    color: var(--color-buy);
    border-right: 1px solid var(--color-buy);
    border-left: 1px solid var(--color-buy);
    position: absolute;
    right: 80px;
    z-index: 3;
}
.room_balance{
    height: 38px;
    font-weight: bolder;
    padding-top: 11px;
    white-space: nowrap;
    color: var(--color-buy);
    width: 80px;
    position: absolute;
    right: 0;
    padding-right:5px;
    padding-left: 5px;
    z-index: 3;
}
.room-balance-img{
    width: 15px;
    fill: #F6831D !important;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
    stroke-width: 2;
}
.create_room{
    position: relative;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #000;
    border-radius: 12px;
    left: 13px;
    width: calc(100% - 26px);
    border: 1px solid var(--color-sell);
    text-align: center;
    color: var(--color-sell)
}
.form-create-room{
}

.form-create-room label{
    width: 80px;
    font-size: 13px;
    white-space: nowrap;
    text-align: left;
    margin-top: 5px;
    padding-right: 4px;
    color: var(--default-text-color);
    font-weight: normal;
}

.form-create-room select,
.form-create-room input{
    width: calc(100% - 4px);
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
    margin-top: 5px;
    height: 30px;
}
.form-create-room input{
    margin-left: 3px;
}
#create_room_alert{
    display: none;
    font-size: 12px;
    font-style: italic;
    margin: 5px;
    text-align: center;
    color: var(--color-sell);
}
.dice-game-room-mini-data{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--bootstrap-card-border);
    color: var(--primary-color) !important;
    box-shadow: inset 0 -1px 12px 3px rgba(255, 255, 255, .05);
}
