

#block-1{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    direction: ltr;
    display: inline-grid;
    grid-template-rows: 30px auto auto auto auto auto;
    gap: 10px;
    align-items: center;
    place-items: center;
    justify-content: center;

    width: 100%;
}
.strategy{
    width: calc(100% - 20px);
    margin: 10px auto auto;
}
#link_ref{
    border-radius: 20px;
    width: calc(100% - 20px);
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    background: var(--main-gradient-bg);
    position: relative;
    align-items: center;
    place-items: center;
    text-align: center;
    padding: 7px;
    justify-content: center;
    font-weight: 900;
    color: papayawhip;
    cursor: pointer;
}
#link_ref:after{
    position: absolute;
    content: '';
    left: 13px;
    top: 4px;
    bottom: 3px;
    width: 24px;
    background-image: url("/static/image/copy.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
#box-info{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background: var(--main-gradient-bg);
    padding: 10px;
    gap: 10px;
    display: inline-grid;
    border-radius: 10px;
    color: var(--default-text-color);
    grid-template-rows: 24px 24px 24px 24px 24px;
}
#box-info2{
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    background: var(--main-gradient-bg);
    padding: 10px;
    gap: 10px;
    display: inline-grid;
    border-radius: 10px;
    grid-template-rows: 24px 24px 24px 24px 24px;
}
.ref-info{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.ref-info span:first-child{
}
.ref-info span:nth-child(2){
    text-align: right;
}
.ref-left:after{
    position: absolute;
    content: '';
    top: 0;
    left: 3px;
    width: 20px;
    bottom: 3px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.copy-ref:after{
    background-image: url("/static/image/copy-ref.png");
}
.copy-ref span:nth-child(2){
    font-weight: bolder;
    padding-right: 15px;
}
.document-ref:after{
    background-image: url("/static/image/document.png");
}
.dollar-ref:after{
    background-image: url("/static/image/dollar_ref.png");
}
.law-ref:after{
    background-image: url("/static/image/law.svg");
}
.rate-ref:after{
    background-image: url("/static/image/ref-rate.svg");
}
.support24:after{
    background-image: url("/static/image/support24h.svg");
}
.turn-right:after{
    position: absolute;
    content: '';
    top: 0;
    right: 3px;
    width: 20px;
    bottom: 3px;
    background-image: url("/static/image/turn-right.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.back-page-1{
    position: absolute;
    content: '';
    top: 4px;
    left: 3px;
    width: 20px;
    bottom: 3px;
    background-image: url("/static/image/turn-left.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#page_1{
    width: calc(100% - 20px);
    max-width: calc(100% - 20px) !important;
}
#page_2{
    width: calc(100% - 20px);
    display: none;
    max-width: calc(100% - 20px) !important;
}
#page_3{
    width: calc(100% - 20px);
    display: none;
    max-width: calc(100% - 20px) !important;
    overflow-x: scroll;
}
#page_4{
    width: calc(100% - 20px);
    display: none;
    max-width: calc(100% - 20px) !important;
    overflow-x: scroll;
}
#page_5{
    width: calc(100% - 20px);
    display: none;
    max-width: calc(100% - 20px) !important;
    overflow-x: scroll;
}
.check-tree-ref{
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);;
    width: calc(100% - 10px);
    position: relative;
    cursor: pointer;
    gap: 1px;
    align-items: center;
    place-items: center;
    justify-content: center;
}
.check-tree-ref div{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(191, 179, 155, .6);
    border-radius: 2px;
    padding: 1px;
    font-size: 10px;
}
.check-ref{
    background-image: url("/static/image/nocheck.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    margin: 2px 0;
}
.select{
    background-image: url("/static/image/check.svg") !important;
}
.ref-user{
    display: inline-grid;
    grid-template-columns: 85px 100px auto;
    width: 100%;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    height: 20px;
    align-items: center;
}
.ref-user span:first-child{
    font-size: 10px;
    text-align: left;
}
.ref-user span:nth-child(2){
    font-size: 11px;
    text-align: right;
    color: #4d9bb5;
    position: relative;
    background-color: #1c3945;
    border-radius: 20px;
    padding: 0 6px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 1px 3px 7px 1px rgba(0, 0, 0, 0.19);
}
.ref-user span:nth-child(2):after{
    position: absolute;
    content: '';
    top: 0;
    left: 2px;
    bottom: 0;
    width: 16px;
    background-color: #467783;
    background-image: url(/static/image/dollar.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    /* background: white; */
    border-radius: 50%;
}
.user-name{
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 23px 0px 5px;
    text-align: left;
    font-size: 10px;
}
/*.user-name:after{*/
/*    position: absolute;*/
/*    content: '';*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    width: 20px;*/
/*    background-image: url("/static/image/warning.svg");*/
/*    background-size: 15px 15px;*/
/*    background-repeat: no-repeat;*/
/*}*/
.left-pan{
    position: relative;
    padding-left: 20px;
    z-index: 1;
}
.left-pan:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 16px;
    background-size: 16px 16px;
}
.expand:after{
    background-image: url("/static/image/right.svg");
}
.clpand:after{
    background-image: url("/static/image/down.svg");
}
.line-hide{
    position: absolute;
    left: 0;
    width: 80px;
    bottom: 0;
    top: 0;
    /*background-color: red;*/
    display: inline-grid;
    z-index: 0;
    grid-template-columns: 8px 10px 10px 10px 10px 10px 10px 10px;
}
.line-hide div:nth-child(n+2){
    /*border-left: 1px solid #d9d4ce;*/
}
.bg-line:before{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -3px;
    top: -1px;
    background-color: transparent;
    pointer-events: none;
    z-index: -1;
}
.ref-1{
}
.ref-1 span:first-child{
}
.ref-2,
.ref-3,
.ref-4,
.ref-5,
.ref-6,
.ref-7,
.ref-8,
.ref-9,
.ref-10{
    display: none;
    /*margin-left: 10px;*/
}
.ref-2 span:first-child,
.ref-3 span:first-child,
.ref-4 span:first-child,
.ref-5 span:first-child,
.ref-6 span:first-child,
.ref-7 span:first-child,
.ref-8 span:first-child,
.ref-9 span:first-child,
.ref-10 span:first-child{
    padding-left: 30px;
}
/*.ref-2 span:first-child{*/
/*    margin-left: 10px;*/
/*}*/
/*.ref-3 span:first-child{*/
/*    margin-left: 20px;*/
/*}*/
/*.ref-4 span:first-child{*/
/*    margin-left: 30px;*/
/*}*/
/*.ref-5 span:first-child{*/
/*    margin-left: 40px;*/
/*}*/
/*.ref-6 span:first-child{*/
/*    margin-left: 50px;*/
/*}*/
/*.ref-7 span:first-child{*/
/*    margin-left: 60px;*/
/*}*/
/*.ref-8 span:first-child{*/
/*    margin-left: 70px;*/
/*}*/
/*.ref-9 span:first-child{*/
/*    margin-left: 80px;*/
/*}*/
/*.ref-10 span:first-child{*/
/*    margin-left: 90px;*/
/*}*/
.area-ref-info{
    width: 100%;
    display: grid;
    overflow-x: scroll;
    grid-template-columns: 50px auto;
}
.ref-table{
    display: inline-grid;
    grid-template-columns: repeat(8, 70px);
    position: relative;
    cursor: pointer;
    gap: 1px;
    align-items: center;
    place-items: center;
    justify-content: center;
    font-size: 11px !important;
    background-image: linear-gradient(to right, red 0%, #11ce3e 80%) !important;
    color: #00000000 !important;
    background-clip: text !important;
}
.table-col1{
    display: grid;
    grid-template-rows: repeat(4, 20px);
    position: relative;
    cursor: pointer;
    gap: 1px;
    align-items: center;
    place-items: center;
    font-size: 11px !important;
}
.scroll{
    overflow-x: scroll;
    overflow-y: hidden;
}
.scroll li{

}
.title{
    margin-top: 0 !important;
    font-size: 13px !important;
    background-image: linear-gradient(to right, red 0%, #11ce3e 80%) !important;
    color: #00000000 !important;
    background-clip: text !important;
}

#set-f0-code{
    border-radius: 11px;
    width: calc(100% - 20px);
    background-color: transparent;
    position: relative;
    align-items: center;
    place-items: center;
    text-align: center;
    padding: 7px;
    justify-content: center;
    font-weight: 900;
    color: papayawhip;
    display: grid;
    grid-template-rows: auto auto;
    display: none;
}
input{
    border: 0;
    border-radius: 20px;
    height: 25px;
    width: 200px;
    text-align: center;
    color: #000 !important;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 27%);
}
#ref-level{
    font-weight: bolder;
    background-image: linear-gradient(to right, red 30%, #00ff3d 70%) !important;
    color: #00000000 !important;
    background-clip: text !important;
    text-transform: uppercase;
    height: 30px;
    padding: 9px;
    position: relative;
}
.wrap{
    text-wrap: wrap;
    padding:5px;
    white-space: normal;
}
.ref_his{
    display: grid;
    grid-template-columns: calc(50% - 35px) 70px calc(50% - 35px);
    position: relative;
    width: 100%;
}
.ref_his span:nth-child(3){
    font-weight: 700;
    color: #18b660
}
.ex_history{
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #344c56;
    margin: 4px auto;
    background-color: transparent;
    padding: 8px;
    display: grid;
    grid-template-columns: 100px auto;
    display: none;
}
.ex_history span:nth-child(odd){
    text-align: left;
}
.ex_history span:nth-child(even){
    text-align: right;
    font-weight: bold;
}
.ddata{
    background-image: linear-gradient(to right, red 30%, #00ff3d 70%) !important;
    color: #00000000 !important;
    background-clip: text !important;
}